.todo-wrapper{
width: 1000px;
height: 500px;
margin: 20px auto;
background-color: rgba(255, 255, 255, 0.8);
}

#todo-form{
    text-align: center;
}
#todo-form>input{
    margin: 20px;
    width:500px;
    height: 50px;
    text-align: center;
    border:none;

}

#todo-list{
    margin: 0 auto;
    width:500px;
    height: 400px;
    background-color: #fff;
}

#todo-list li{
    text-align: left;
}

#todo-list span{
    display: inline-block;
    margin: 10px;
}

#todo-list button{
    border: none;
    background-color: #fff;
    cursor: pointer;
}