.box{
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 12px;
    background-color: #f9f9f9;
}

/* 강조 스타일 */
.highlight{
    box-shadow:  0 6px 16px rgba(0,0,0,0.15);
    border-color: #3498db;
}

/* 전체 너비 */
.fullWidth{
    width: 100%;
}