@charset "utf-8";

/** phone **/
.phone{
	margin: 0 auto;
	width: 360px;
	height: 600px;
	overflow: scroll;
}
::-webkit-scrollbar{display: none;}


body{background: #fff5bf;}

.container{
	margin: 0 auto;
    background: #fff;
	width: 100%;
	height: 100vh;
}